pipelines:
  default:
  - step:
      script:
        # Set $DOCKER_HUB_USERNAME and $DOCKER_HUB_PASSWORD as environment variables in repository settings
        - export IMAGE_NAME=caricah/service-ledger
        - export IMAGE_VERSION=v0.0.1

        # build the Docker image (this will use the Dockerfile in the root of the repo)
        - docker build -t $IMAGE_NAME -t $IMAGE_NAME:$BITBUCKET_COMMIT -t $IMAGE_NAME:$IMAGE_VERSION -t $IMAGE_NAME:latest .
        # authenticate with the Docker Hub registry
        - docker login --username $DOCKER_HUB_USERNAME --password $DOCKER_HUB_PASSWORD
        # push the new Docker image to the Docker registry
        - docker push $IMAGE_NAME
      services:
        - docker
      caches:
        - docker
options:
  docker: true