name: Publish New Release

on:
  schedule:
    - cron: "0 0 */3 * *"  # Runs every 3 days at midnight UTC
  workflow_dispatch:
    inputs:
      custom_name:
        description: 'Name for the release (e.g., v1.2.3 Fresh start)'
        required: false
      custom_tag:
        description: 'Optional tag to use for the release (e.g., v1.2.3)'
        required: false

jobs:
  check-draft-exists:
    runs-on: ubuntu-latest
    outputs:
      draft_exists: ${{ steps.check_draft.outputs.draft_exists }}
      draft_tag_name: ${{ steps.check_draft.outputs.draft_tag_name }}
      draft_name: ${{ steps.check_draft.outputs.draft_name }}
      draft_body: ${{ steps.check_draft.outputs.draft_body }}

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Check if draft release exists
        id: check_draft
        run: |
          DRAFT_RELEASE=$(curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
                                -H "Accept: application/vnd.github.v3+json" \
                                https://api.github.com/repos/${{ github.repository }}/releases)
          DRAFT_RELEASE_ID=$(echo $DRAFT_RELEASE | jq '.[] | select(.draft == true) | .id')
          DRAFT_RELEASE_TAG_NAME=$(echo $DRAFT_RELEASE | jq '.[] | select(.draft == true) | .tag_name')
          DRAFT_RELEASE_NAME=$(echo $DRAFT_RELEASE | jq '.[] | select(.draft == true) | .name')
          DRAFT_RELEASE_BODY=$(echo $DRAFT_RELEASE | jq '.[] | select(.draft == true) | .body')
          echo "draft_tag_name=$DRAFT_RELEASE_TAG_NAME" >> $GITHUB_OUTPUT
          echo "draft_name=$DRAFT_RELEASE_NAME" >> $GITHUB_OUTPUT
          echo "draft_body=$DRAFT_RELEASE_BODY" >> $GITHUB_OUTPUT
          
          if [ -z "$DRAFT_RELEASE_ID" ]; then
            echo "No draft exists for automatic publishing"
            exit 1
          else
            echo "draft_exists=true" >> $GITHUB_OUTPUT
          fi

  publish-release:
    needs: check-draft-exists
    runs-on: ubuntu-latest
    steps:

      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Set final tag (either custom or new)
        id: set_tag
        run: |
          if [ "${{ github.event.inputs.custom_tag }}" ]; then
            FINAL_TAG="${{ github.event.inputs.custom_tag }}"
            FINAL_NAME="${{ github.event.inputs.custom_name || needs.check-draft-exists.outputs.draft_name }}"
          else
            FINAL_TAG="${{ needs.check-draft-exists.outputs.draft_tag_name }}"
            FINAL_NAME="${{ needs.check-draft-exists.outputs.draft_name }}"
          fi
          echo "Final tag: $FINAL_TAG"
          echo "final_tag=$FINAL_TAG" >> $GITHUB_OUTPUT
          echo "final_name=$FINAL_NAME" >> $GITHUB_OUTPUT

      - name: Publish the release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.set_tag.outputs.final_tag }}
          name: ${{ steps.set_tag.outputs.final_name }}
          body: ${{ needs.check-draft-exists.outputs.draft_body }}
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
